/* .body{
  background-color: blueviolet;
} */
/* css for loginform
.main-body{
  border: 1px solid black;
  margin-left: 100px;
  margin-top: 9px;
  width: 800px;
  height: 400px;
 }
h1{
  margin-left: 393px;
  color: blue;
}
 */